{% extends 'admin-base.html' %}
{% load static %}

{% block content %}

    {% for msg in messages %}
        {{msg}}
    {% endfor %}
    <div class="row">
        <div class="col-12">
            <div class="card alert alert-info mb-3">
                <a href="{% url 'doctor:dashboard' %}?action=set_availability" > Set Availability</a>
            </div>
        </div>
        <div class="col-6 ">
            <div class="card bg-primary text-light">
                <div class="card-header ">
                    <h5>Appointments</h5>
                </div>
                <div class="card-body">
                    <h1>
                        {{app}}
                    </h1>
                    <h6>Active Approved Appointments</h6>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card bg-success text-light">
                <div class="card-header">
                    <h5>Chatroom</h5>
                </div>
                <div class="card-body">
                    <h1>3</h1>
                    <h6>Chatroom</h6>
                </div>
            </div>
        </div>
    </div>       
    

{% endblock  %}