{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}{{request.user.username}}'s Profile | iRehab site{% endblock %}

{% block main %}

<div class="justify-content-center">
    <div class="container p-4" style='width:40%'>
        <form action="" method="post" class="form form-group">
            {% for error in form.errors %}
                <span class="message">{{ error }}</span>
            {% endfor %}
            {% csrf_token %}
            <h1>Your Profile Pane</h1>
            {{ form | crispy }}
            
            
            <button class='btn btn-primary p-2'>Update Profile</button> 
            <a class='btn btn-secondary p-2' href='{% url "mainApp:index" %}'>Back Home</a> 
            <a class='btn btn-danger p-2' href='{% url "mainApp:logout" %}'> Logout</a>
        </form>
    </div>
</div>

{% endblock %}